* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Single Day', cursive;
}
body,
html {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.active {
  color: #fc036b;
  text-decoration: underline;
  font-weight: bold;
}
